<section class="container">
    <div class="profile">
        <img class="profile-picture" src="../../../assets/mi_foto.jpeg" alt="mi foto">
        <div class="profile-details">
            <h1>Sobre Mí</h1>
            <h3>Nicolás Martín Montagut</h3>
            <h4>Programador - Estudiante UTN - Hincha y socio de Brwn de Adrogué</h4>
            <h5>Legajo: 111003</h5>
            <h5>DNI: 42232300</h5>
            <h5>Fecha de Nacimiento: 27/10/1999 (24 años)</h5>
        </div>
        <div class="expl-juego">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, culpa cum eum, dolor error dignissimos
                architecto vel vero eaque veritatis quia quasi! Aspernatur repudiandae dignissimos non atque numquam!
                Inventore, dolorum.</p>
        </div>
        <div class="dog-section">
            <img class="other-picture" src="../../../assets/freddy_img.jpeg" alt="imagen de freddy">
            <p><b>Freddy (13 años)</b></p>
        </div>
    </div>
</section>